<h1>Listing Problems</h1>

<% @problems.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |problem| %>
      <div class="span4">

        <h4><%= link_to problem.name, problem %></h4>
        <%= problem.description %>
        <%= problem.outcome %>
      </div>
    <% end %>
  </div>
<% end %>
